.navbar {
    background-color: black !important;
    border-bottom: 5px solid #ffd700 !important;
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    color: #ffd700 !important;
    transition: ease-in-out 0.3s;
  }
  .nav-link:hover {
    color: rgb(134, 127, 65) !important;
    border: #ffd700 solid 1px;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius:30px !important;
    border-bottom-right-radius: 30px !important;
    border-top-right-radius: 30px !important;
    overflow: hidden;
  }

  /* Card style */
  .card {
    border: rgb(46, 46, 46) solid 2px;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    overflow: hidden;
    transition: ease-in-out 0.3s;
  }

  .card-body {
    background-color: #000;
    color: #ffd700;
  }

  .card:hover {
    scale: 105%;
  }

  .card-title,
  .card-text {
    color: #ffd700;
  }

  .btn-primary {
    background-color: #ffd700;
    border-color: #ffd700;
  }

  .btn-primary:hover {
    background-color: #c6a600;
    border-color: #c6a600;
  }
  body {
    background-color: black;
  }



.form-box {
  padding: 20px;
  margin: 10px;
  
}


.form-control {
  padding: 20px;
  text-align: center !important;
  background-color: black;
  border: 2px solid #ffd700;
  color: #ffd700;
  transition: ease-in-out 0.1s;
  margin: 10px;
  
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-top-right-radius: 20px !important;
  overflow: hidden;
}
.form-control:hover {
  scale: 105%;
}